<!--
 *  default.hbs
 *   
 *  The main handlebars file that Ghost references when it wants to render a
 *  Doppelganger page.
 *
 *  Doppelganger copyright © 2014 Jonathan Ballands. All Rights Reserved.
 *  Ghost copyright © 2014 The Ghost Foundation. All Rights Reserved.
-->

<!DOCTYPE html>
<html>

    <head>
        
        <meta charset="utf-8" />
        
        <!-- Title and description -->
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}" />
        
        <!-- Responsive -->
        <meta name="HandheldFriendly" content="True" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Doppelganger Styling -->
        <link type="text/css" rel="stylesheet" href="{{asset '/css/style.css'}}" />
        
        <!-- Scripts -->
        <script type="text/javascript" src="{{asset '/js/highlight.pack.js'}}"></script>
        
        <!-- Syntax highlighting -->
        <script type="text/javascript">
            window.onload = function() {
                var codeBlocks = document.querySelectorAll("code");
                for (var i = 0 ; i < codeBlocks.length ; i++) {
                    hljs.highlightBlock(codeBlocks[i]);
                }
            }
        </script>
    
    </head>
    
    <body class="{{body_class}}">
    
        {{{body}}}
        
        {{ghost_foot}}
        
    </body>
    
    <footer class="footer_container">
        © {{date format="YYYY"}} All Rights Reserved.
        Doppelgänger theme made with love by <a target="_blank" href="http://jonathanballands.me">Jonathan Ballands</a>
        in Austin, TX.
        <br/>
        Proudly running on the <a target="_blank" href="https://ghost.org">Ghost</a> blogging platform.

        <ul>
            <li><a href="https://www.facebook.com/jon.ballands" 
                       target="_blank"><img class="social-icon" src="{{asset '/img/fb-logo.png'}}" /></a></li>
            <li><a href="https://twitter.com/jballands" 
                       target="_blank"><img class="social-icon" src="{{asset '/img/tw-logo.png'}}" /></a></li>
            <li><a href="https://www.linkedin.com/pub/jonathan-ballands/3a/b8b/883" 
                       target="_blank"><img class="social-icon" src="{{asset '/img/in-logo.png'}}"  /></a></li>
            <li><a href="https://github.com/jballands" 
                       target="_blank"><img class="social-icon" src="{{asset '/img/gh-logo.png'}}" /></a></li>
            <li><a href="http://jonathanballands.me/bc" 
                       target="_blank"><img class="social-icon" src="{{asset '/img/bc-logo.png'}}" /></a></li>
        </ul>
    </footer>

</html>