<!--
 *  index.hbs
 *   
 *  The homepage for the Doppelganger blog.
 *
 *  Doppelganger copyright © 2014 Jonathan Ballands. All Rights Reserved.
 *  Ghost copyright © 2014 The Ghost Foundation. All Rights Reserved.
-->

{{!< default}}
              
<header class="main-header" role="banner">
    <div class="header_container">
        <div class="divider"></div>
        
        <div class="header_container-title">
            {{@blog.title}}
        </div>
        <div class="header_container-description">
            {{@blog.description}}
        </div>
        
        <div class="header_container-social">
            <ul>
                <li><a href="https://www.facebook.com/jon.ballands" 
                           target="_blank"><img class="social-icon" src="{{asset '/img/fb-logo.png'}}" /></a></li>
                <li><a href="https://twitter.com/jballands" 
                           target="_blank"><img class="social-icon" src="{{asset '/img/tw-logo.png'}}" /></a></li>
                <li><a href="https://www.linkedin.com/pub/jonathan-ballands/3a/b8b/883" 
                           target="_blank"><img class="social-icon" src="{{asset '/img/in-logo.png'}}"  /></a></li>
                <li><a href="https://github.com/jballands" 
                           target="_blank"><img class="social-icon" src="{{asset '/img/gh-logo.png'}}" /></a></li>
                <li><a href="http://jonathanballands.me/bc" 
                           target="_blank"><img class="social-icon" src="{{asset '/img/bc-logo.png'}}" /></a></li>
            </ul>
        </div>    
        
        <div class="divider"></div>
    </div>
</header>

<main class="content" role="main">
    
    <div class="post_preview-container">
    
        {{#foreach posts}}

        <article class="{{post_class}}">
            <div class="post_preview-title">
                {{{title}}}
            </div>
            
            <div class="post_preview-dot"></div>
            
            <div class="post_preview-excerpt">
                {{excerpt}}...
            </div>
            
            <div class="post_preview-stats">
                <span class="post_preview-date">{{date format="MMMM DD, YYYY"}}</span>
                <a class="post_preview-link" href="{{url}}">Read this entire post <span style="font-style:normal;font-size:18pt;">&#187;</span></a>
            </div>
            
            <div class="divider"></div>
        </article>

        {{/foreach}}
        
    </div>
    
    {{pagination}}
    
</main>
