<!--
 *  post.hbs
 *   
 *  Controls the look of individual posts in Doppelganger.
 *
 *  Doppelganger copyright © 2014 Jonathan Ballands. All Rights Reserved.
 *  Ghost copyright © 2014 The Ghost Foundation. All Rights Reserved.
-->

{{!< default}}
              
<main class="main-header" role="banner">

    <article class="{{post_class}}">
        
        {{#post}}
        
        <div class="post_title-container">
            
            <div class="divider"></div>
            
            <div class="title">
                {{{title}}}
            </div>
            
            <div class="post_title-stats">
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMMM DD, YYYY'}}</time>
                <a href="{{@blog.url}}"><span class="arrow">&#8610;</span> Return</a>
            </div>
                
            <div class="divider"></div>
        </div>
        
        <section class="post_content">
            
            <div class="dot"></div>
            
            {{content}}
            
            <div class="divider"></div>
            
        </section>
        
        <div class="post_close">
            
            <div class="post_close-salute">
                Sincerely,
                <span class="post_close-salute-name">Jon</span>
            </div>
            
            <div class="post_close-stats">
                <div class="responsive">{{{title}}}</div>
                <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='MMMM DD, YYYY'}}</time>
                <a href="{{@blog.url}}"><span class="arrow">&#8610;</span> Return</a>
            </div>
            
        </div>
        
        
        
        {{/post}}
        
    </article>

</main>